body {
  font-family: "Open Sans";
}
img {
  max-width: 100%;
}
p {
  font-size: 18px;
  line-height: 1.8em;
}
h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}
h2 {
  color: #354b60;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 700;
}
textarea {
  resize: vertical;
}
#about,
#skills,
#portfolio,
#contact {
  padding-top: 40px;
  padding-bottom: 60px;
}
#skills h2,
#portfolio h2,
#contact h2 {
  color: #fff;
}
a {
  color: #2c3e50;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: #f39c12;
  text-decoration: none;
}
::selection {
  background: #354b60;
  color: #fff;
}
::-moz-selection {
  background: #354b60;
  color: #fff;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0;
  border: none;
  color: #000;
  padding: 10px 16px;
  height: 43px;
  font-size: 14px;
  transition: all 0.5 ease-in-out;
}
.form-control:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.form-control:focus {
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.9);
}
.form-control::-webkit-input-placeholder {
  color: #333;
}
.form-control:-moz-placeholder {
  color: #333;
}
.form-control::-moz-placeholder {
  color: #333;
}
.form-control:-ms-input-placeholder {
  color: #333;
}
.form-group .btn {
  border-radius: 0;
  background-color: #fff;
  color: #354b60;
  font-weight: 600;
  height: 43px;
  border: none;
}
.form-group .btn:hover,
.form-group .btn:active,
.form-group .btn:focus {
  font-weight: 600;
  background-color: #354b60;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.alert {
  position: fixed;
  border-radius: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
.tooltip-container {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip-container .tooltip-text {
  visibility: hidden;
  font-size: 14px;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 10px);
  left: 50%;
  margin-left: -50px;
}
.tooltip-container .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
}
#top {
  min-height: 100vh;
  background: url("assets/nordWallpaper.jpeg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}
#top .logo {
  text-align: center;
}
#top .logo img {
  width: 150px;
}
#top .logo h1 {
  font-weight: 600;
  color: #fff;
  font-size: 42px;
}
#top .logo h2 {
  font-weight: 600;
  color: #bdc3c7;
  font-size: 22px;
  margin: 0;
}
#top .links {
  margin-top: 60px;
  font-size: 28px;
}
#top .links li {
  margin: 0 10px;
}
#top .links a {
  color: #fff;
}
#top .links a:hover {
  color: #f39c12;
  text-shadow: 0 0 10px #333;
}
#about {
  background-color: #ecf0f1;
  padding-bottom: 80px;
}
#about .photo {
  text-align: center;
}
#about .photo img {
  border-radius: 50%;
}
#skills {
  position: relative;
  background: url("../img/layout/teclado.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #333;
}
#skills h3 {
  font-weight: 600;
}
#skills i {
  font-size: 60px;
}
#portfolio {
  background-color: #16a085;
  color: #fff;
  padding-bottom: 80px;
}
#portfolio #filters li span {
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 5px 0;
  line-height: 2.5em;
  transition: all ease 0.5s;
}
#portfolio #filters li span:hover {
  color: #2c3e50;
}
#portfolio #filters li span.active {
  padding: 5px 20px;
  background: #fff;
  color: #2c3e50;
  font-weight: 600;
}
#portfolio #portfoliolist a .portfolio {
  display: none;
  overflow: hidden;
  margin-bottom: 30px;
}
#portfolio #portfoliolist a .portfolio img {
  width: 100%;
  position: relative;
}
#portfolio #portfoliolist a .portfolio .label {
  display: block;
  font-size: 15px;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  padding: 0;
  border-radius: 0;
  line-height: 1.5;
}
#portfolio #portfoliolist a .portfolio .label-bg {
  background: #2c3e50;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#portfolio #portfoliolist a .portfolio .label-text {
  position: relative;
  z-index: 500;
  padding: 5px 8px;
  font-weight: 600;
}
#portfolio #portfoliolist a .portfolio .label-text .text-title {
  color: #fff;
}
#portfolio #portfoliolist a .portfolio .text-category {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #bdc3c7;
}
#portfolio .portfolio-wrapper {
  overflow: hidden;
  position: relative;
}
#contact {
  position: relative;
  background: url("../img/layout/computador.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
}
#footer {
  background-color: #354b60;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
#footer a {
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}
#footer a:hover {
  color: #fff;
}
#footer ul > li {
  font-size: 20px;
  width: 50px;
}
#footer p {
  margin-top: 20px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  p {
    margin-top: 20px;
  }
}
.internal #top {
  position: relative;
  height: 150px;
  min-height: 150px;
  background: #16a085;
}
.internal #top img {
  width: 100px;
}
.internal #content {
  background-color: #fff;
  padding-bottom: 60px;
  padding-top: 30px;
  font-size: 16px;
}
.internal #content h2 {
  text-align: left;
  margin-bottom: 20px;
}
.internal #content p {
  font-size: 16px;
}
.internal #content .categories li {
  background-color: #2c3e50;
  color: #fff;
  font-size: 14px;
  padding: 6px 10px;
  margin-right: 10px;
}
.internal #content .categories li:before {
  content: "\f105";
  font-family: "FontAwesome";
  margin-right: 5px;
}
.internal #content .text h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}
